@charset "UTF-8";
*{margin:0;padding:0;list-style-type:none}
body,div,ul,li,form,input,textarea,span,a,i,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
ul,ol,dl,dt,dd,ol,li{list-style:none;list-style-type:none}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
body,html{font-size:100px;font-family:'微软雅黑';background: #fafafa;color: #666666}
/*body,html{width: 100%;max-width: 750px;min-width: 320px;margin: 0 auto;font-size: 100px;font-family: "微软雅黑";}*/
body{font-size: 14px;}
a{color:#333;text-decoration:none;display: block}
a,img{border:0 none}
table{max-width: 100%;border-collapse: collapse;border-spacing :0;}
input,button{outline:0;border:0;padding:0}
input,select,option,textarea{font-family: inherit;font-size: inherit;*font-size:100%;font-weight: inherit}
input,textarea{background:none;padding:0;border-radius:0;border:0;outline:0;-webkit-appearance:none;appearance:none;font-family:'微软雅黑';}
input::-webkit-input-placeholder,input::-moz-placeholder,input::-ms-input-placeholder,input::placeholder {color: #a1a1a1;}/*修改提示文字颜色*/
img{width:auto;max-width:100%;vertical-align:middle;}
select {appearance: none;-moz-appearance: none;-webkit-appearance: none;padding-right: 14px;padding-left: 10px;}/*很关键：将默认的select选择框样式清除,并添加padding为下拉小箭头留出一点位置，避免被文字覆盖*/
select::-ms-expand {display: none;}
.scrollbar-nw::-webkit-scrollbar { /*滚动条整体样式*/width: 0; /*高宽分别对应横竖滚动条的尺寸*/ }
.scrollbar-nw{
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style:none;
    /*火狐下隐藏滚动条*/
    overflow:-moz-scrollbars-none;
}
.tst-all,.img-hover img{-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.img-hover img:hover{-webkit-transform: scale(1.05);-moz-transform: scale(1.05);-ms-transform: scale(1.05);-o-transform: scale(1.05);transform: scale(1.05);}
.one-line{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.clear-fix:after{content:" ";display:block;font-size:0;height:0;clear:both;visibility:hidden}