*{
    margin:0;
    padding:0;
    list-style-type:none;
}
body,div,ul,li,form,input,textarea,span,a,i,dl,dt,dd,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
ul,ol,dl,dt,dd,ol,li{
    list-style:none;
    list-style-type:none;
}
h1,h2{
    font-weight:bold;
}
body,html{
    width: 100%;
    margin: 0 auto;
  /*  min-width: 1200px;*/
    font-family: "微软雅黑";
    font-size: 14px;
}
img{
    width: 100%;
    vertical-align: middle;
}
a{
    color: #333333;
    text-decoration: none;
}
input,select,option,textarea{
    outline: none;
}
select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color: #b2b2b2;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#b2b2b2;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:#b2b2b2;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#b2b2b2;
}
/*clearFix*/
.clearFix:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*line hide*/
.moreLine{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
}
.oneLine{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*text-transform: uppercase;*/