.testing {
  width: percentage(5/7);
}
html{
  background: #d7ff6b;
  color: #ff876c;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  line-height: 80px;
}
li{
  font-weight: bold;
  background: #60eeff;
}
.header{
  height: 40px;
  background: #ff975c;
}