.friend-con {
  height: 30px;
  line-height: 30px;
  color: #fff;
  overflow: hidden;
  position: relative;
  background: #3255a6;
  .con{
    width: 700px;
    margin-right: 10px;
    overflow: hidden;
  }
  .more {
    float: right;
    cursor: pointer;
  }

  span {
    float: left;
  }

  ul {
    width: 100%;
    margin-left: -48px;
    li {
      float: left;
      height: 30px;
      line-height: 30px;
      &:before {
        content: "";
        width: 2px;
        height: 15px;
        background: #bbc6e1;
        float: left;
        margin: 8px 27px 0;
      }
    }
  }
  a {
    float: left;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  a:hover,.more:hover {
    color: #8ec640;
  }
}