@charset "utf-8";
*{margin:0;padding:0;list-style-type:none}
body,div,ul,li,form,input,textarea,span,a,i,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
ul,ol,dl,dt,dd,ol,li{list-style:none;list-style-type:none}
h1,h2{font-weight:bold;font-size:100%}
body,html{font-size:100px;font-family:'Microsoft YaHei';background: #fafafa;color: #666666}
body{
  font-size: 14px;
}
a{color:#333;text-decoration:none;display: block}
a,img{border:0}
table{
  max-width: 100%;
}
input,button{outline:0;border:0;padding:0}
input[type=text],input[type=submit],input[type=button],textarea{padding:0;border-radius:0;border:0;outline:0;-webkit-appearance:none;appearance:none;font-family:'Microsoft YaHei';}
img{width:auto;max-width:100%;vertical-align:middle}
.clearFix:after{content:" ";display:block;font-size:0;height:0;clear:both;visibility:hidden}
.moreLine{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.oneLine{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.tstAll{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.imgHover:hover{
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
